/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.stack-pane {


	-fx-background-image: url("/at/wifiwien/javaswe/strawberry_fields/images/grass_128px.png");
	
}


.tile-pane {
	-fx-background-color: brown;
}

.button {
	-fx-background-color: #13FE14;
}

