/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.stack-pane {


	-fx-background-image: url("/at/wifiwien/javaswe/strawberry_fields/images/grass_128px.png");
	
}

.tile-pane {
	-fx-background-color: brown;
	-fx-pref-tile-height: 80px;
	-fx-pref-tile-width: 80px;
}


.button {
	-fx-background-color: #13FE14;
}

